<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="commerceApp" 
             type="Commerce.Core.Configurations.CommerceAppConfigurationSection, Commerce.Core" />
  </configSections>
  <commerceApp>
    <paymentProcessor name="paymentProcessor"
                      type="Commerce.Providers.CreditCardProcessor, Commerce.Providers"/>
    <customerNotifier name="customerNotifier"
                      type="Commerce.Providers.EmailNotifier, Commerce.Providers" 
                      fromAddress="gaurav.gahlot19@gmail.com"
                      smtpServer="mail.google.com" />
  </commerceApp>
</configuration>